[2014-10-01 21:50] canercandan opened #3 "docker support"
Anybody interested porting Taiga to a docker image ?

[2014-10-02 07:56] matt-oakes opened #4 "Production installation on DigitalOcean"
I've run the production install script on a standard DigitalOcean droplet, where the default user is `root` (Yes I know this is a bad idea, but it was a quick and dirty install to see if I could get it working).

The script finished without error, but it wrote the nginx sites file incorrectly. Instead of the correct home directory for the root user (`/root`) it used `/home/root`.

It's not a big i

[2014-10-02 10:57] danielshir opened #5 "Production installation on EC2"
I've run the server installation on a clean Ubuntu instance on EC2 (nothing installed on it, except git).
The installation runs fine without any issues, but I end up with just an error page.

![screen shot 2014-10-02 at 1 55 07 pm](https://cloud.githubusercontent.com/assets/876396/4489908/a20b7602-4a22-11e4-8ce0-c14b78eac7e2.png)

[2014-10-02 14:03] #4 closed, assigned to niwinz

[2014-10-02 14:41] JulienPalard opened #6 "taiga tried to install postgresql 9.3"
Hello,

Scripts tries to install postgresql 9.3 on my server but I have postgresql 9.4 (I'm on jessie).

Bests !

[2014-10-02 14:49] JulienPalard opened #7 "Nginx in sites-available/default ?"
o/

On https://github.com/taigaio/taiga-scripts/blob/master/scripts/setup-nginx.sh#L84

Your writing your configuration file in sites-available/default, it may be dangerous, someone may have changed this file, you may use site-available/taiga instead.

Bests,

[2014-10-02 15:22] #5 closed, assigned to niwinz

[2014-10-02 16:54] niwinz opened #9 "Setup properly django_sites configuration."
In your email you're giving a: http://localhost:9001, seems wrong to me.

[2014-10-03 15:15] snorberhuis opened #10 "Error on a fresh ubuntu installation"
I tried to use the install scripts on a fresh vm running ubuntu server 14.04 and I tried using docker (guide in #3).
But both result in a page stating:
"Something happened and our Oompa Loompas are working on it.
Try reloading again soon."

I also tried to look for ways to read any logs that Taiga produces to see what the error is, but I cannot seem to find any. If you could point me in the right

[2014-10-03 21:16] #6 closed, assigned to nobody

[2014-10-07 07:44] #9 closed, assigned to niwinz

[2014-10-07 18:56] niwinz opened #12 "Fail quickly when script is running using root user."

[2014-10-08 02:35] AlexCaesar opened #13 "Unable to locate package python3-pip"
E: Unable to locate package python3-pip
./scripts/setup-python.sh: line 4: pip3: command not found
/root/.virtualenvwrapper-conf.sh: line 5: /root/.local/bin/virtualenvwrapper.sh: No such file or directory

[2014-10-08 02:40] #13 closed, assigned to nobody

[2014-10-11 16:53] #12 closed, assigned to niwinz

[2014-10-14 15:14] #10 closed, assigned to nobody

[2014-10-26 11:29] bhuvankrishna opened #16 "update postgresql version from 9.3 to 9.4"
I was installing taiga on digitalocean droplet on debian testing. the script gave a warning that postgresql-9.3 don't exist. I think the script has to be update with 9.4.

[2014-10-26 11:36] #16 closed, assigned to nobody

[2014-10-26 14:13] #3 closed, assigned to nobody

[2014-12-03 09:55] #7 closed, assigned to niwinz

[2015-01-06 17:24] em57 opened #19 "http://vpsIPAddr:8000/api/v1/projects 502 (Bad Gateway) app.js:2 FAIL"
Hi,
I am getting an error similar to the one that pawel2105 had on issue #5 . I am trying to follow here and apply the fix that niwibe  suggested but there is no taiga-front/app/config/main.coffee file nor taiga-front/app/config/ directory!
I am using a fresh installation of ubuntu 14.0.4 on a digital ocean VPS on which i just installed Git and everything else is default. i am also using a sudo us

[2015-01-06 19:00] em57 commented on #19
As i am still trying to narrow down this issue, service that should run on port 8001 is not running and therefore no API calls will ever happen! any advice on how to get this app up and running ?

[2015-01-06 19:38] em57 commented on #19
while i didn't get an answer on this issue, I no longer have the above error. I built another VPS and ran the script installation and this time it worked fine. I am wondering why it happened in the first place!

[2015-01-06 19:38] #19 closed

[2015-01-07 08:22] superalex commented on #19
It seems that some package installation failed, could you check your install logs from the first machine?

Regards

[2015-01-07 15:38] em57 commented on #19
At the moment i closed this ticket, I destroyed those older VPSs :(

[2015-01-07 15:48] superalex commented on #19
You are welcome! :(

[2015-01-14 09:57] radiofanat opened #20 "errors during install"
E: Unable to locate package libzmq3-dev
[APT-GET] Installing package nodejs...
Reading package lists...
Building dependency tree...
Reading state information...
E: Unable to locate package nodejs
[APT-GET] Installing package npm...
Reading package lists...
Building dependency tree...
Reading state information...
E: Unable to locate package npm
./scripts/setup-nodejs.sh: line 6: -2: substring expre

[2015-01-14 10:02] superalex commented on #20
Could you try an apt-get update before?, it sounds like your repos are not working correctly.

Regards,

[2015-01-14 10:12] radiofanat commented on #20
I changed repos mirror from ro tu us but errors are the same

[2015-01-14 10:13] superalex commented on #20
But what's your output when you execute an apt-get update?

[2015-01-14 10:15] radiofanat commented on #20
oleg@taiga:~/taiga-scripts$ sudo apt-get update
Ign http://security.ubuntu.com trusty-security InRelease
Get:1 http://security.ubuntu.com trusty-security Release.gpg [933 B]
Ign http://us.archive.ubuntu.com trusty InRelease
Get:2 http://security.ubuntu.com trusty-security Release [62.0 kB]
Ign http://us.archive.ubuntu.com trusty-updates InRelease
Hit http://us.archive.ubuntu.com trusty Release.gpg

[2015-01-14 10:16] superalex commented on #20
Hmmmmmm, and if you install manually one of those packages?:

apt-get install npm

[2015-01-14 10:18] radiofanat commented on #20
oleg@taiga:~/taiga-scripts$ sudo apt-get install npm
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package npm

[2015-01-14 10:18] radiofanat commented on #20
oleg@taiga:~/taiga-scripts$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.1 LTS
Release:        14.04
Codename:       trusty

[2015-01-14 10:22] superalex commented on #20
If you can't find npm package in your ubuntu repos it seems they are not working properly. You should try to configure them properly...

[2015-01-14 10:22] #20 closed

[2015-01-14 10:23] radiofanat commented on #20
thanks you, I will try to configure.

[2015-01-14 10:26] superalex commented on #20
You are welcome!, I don't know exactly why your repos are failing after the ro to us change. A set of working apt repos:

[code]

[2015-01-15 18:53] teamcoltra opened #21 "Rerunning taiga-scripts?"
So in relation to my other issue I raised in taiga-front I found that the problem is the hostname setting that was used during the taiga-scripts process (it's the only thing I can find with the setting "localhost:8000" I have no idea where this file is actually set so I have a two part question:

1) Would I lose everything if I re-ran taiga-scripts with the proper hostname?

2) Where does this hos

[2015-01-16 06:15] superalex commented on #21
Hello @teamcoltra,

Rerunning taiga scripts will destroy your data but you could make a database backup before executing them and then restore it.

Anyway I've answered you in your other issue I think you still have something to try :)

[2015-01-16 06:15] #21 closed

[2015-01-16 06:18] teamcoltra commented on #21
Thanks @superalex I am trying to look at all my options, I thought maybe if this wouldn't destroy the data this would be a nice quick fix.

[2015-02-16 14:30] 7sedam7 commented on #4
I have installed it with sudo privledges and new user smoothly and when navigated to IP app seemed to be there accept when I tried to create an account I get "Failed to load resource: the server responded with a status of 502 (Bad Gateway)" upon clicking "Sign Up" button.

[2015-02-16 15:07] 7sedam7 commented on #19
I have this error, I have tried to install it multiple times.

[2015-02-16 15:34] bameda commented on #19
Hi @7sedam7  try to set the correct API url In settings file at taiga-front-dist/dist/js/conf.json

[2015-02-16 19:52] 7sedam7 commented on #19
@bameda

I have this there:

{
       "api": "/api/v1/",
       "eventsUrl": null,
       "debug": "true",
       "publicRegisterEnabled": true,
       "feedbackEnabled": false,
       "privacyPolicyUrl": null,
       "termsOfServiceUrl": null,
       "maxUploadFileSize": null,
      "gitHubClientId": null,
      "contribPlugins": []
}

what should it be there...

[2015-02-16 19:55] 7sedam7 commented on #19
And during installation I got the following error:

Command /home/taiga/.virtualenvs/taiga/bin/python3.4 -c "import setuptools, tokenize;__file__='/home/taiga/.virtualenvs/taiga/build/lxml/setup.py';exec(compile(getattr(toke      nize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-ihzyrhdm-record/install-record.txt --single-version-externally-m

[2015-02-16 20:28] bameda commented on #19
"api" must be a valid absolute url, try to change to
[code]
(or something similar)

[2015-02-16 20:43] bameda commented on #19
to install lxml you need ```libxml2-dev``` and ```libxslt-dev``` so if you don't have this packages in you system you have to install them with:
[code]
and now you can install lxml again
[code]

Sometimes the problem is because your system doesn't have enough RAM.

[2015-02-16 21:39] 7sedam7 commented on #19
Thank you a lot for help @bameda and sorry for more bothering.

For lxml libs were already installed and pip install fails.

after updating api I got:

**XMLHttpRequest cannot load http://178.62.75.72:8000/api/v1/projects. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://178.62.75.72' is therefore not allowed access. The response had HTTP status code 502

[2015-02-17 06:02] superalex commented on #19
Hello @7sedam7 now it seems that you are having a javascript security problem, 172.62.75.72:8000 and 172.62.75.72 are different domains for your browser and he is complaining about it. If you were using 127.0.0.1:8000 and 127.0.0.1 it works because your browser understand it's a safe environment.

If you want to serve Taiga in a public way you should configure it via nginx as described in the docu

[2015-02-17 07:20] 7sedam7 commented on #19
I tried with localhost first and now with 127.0.0.1 and without :8000 but it does not work.

But different errors:

OPTIONS http://localhost:8000/api/v1/projects net::ERR_CONNECTION_REFUSED
app.js:2 FAIL
jquery.js:9
OPTIONS http://localhost:8000/api/v1/projects net::ERR_CONNECTION_REFUSED
jquery.min.js:4
Uncaught TypeError: Cannot set property 'cssText' of null
VM706:443
Uncaught ReferenceError: $

[2015-02-17 07:38] superalex commented on #19
Did you update your front settings?, it seems that it's not loading correctly your js files.

[2015-02-17 07:45] bameda commented on #19
Hi @7sedam7 , I think you're using user stories as epics. We have spoken about this feature in our blog (https://blog.taiga.io/epic-stories.html) and would like to include it in Taiga in the future.

[2015-02-17 07:48] 7sedam7 commented on #19
@superalex yeah at `taiga-front/dist/js/conf.json`

@bameda I do not know what are you talking about.

[2015-02-17 07:59] superalex commented on #19
Hmmmmm, check the source code of the html to see what js files is trying to get and their urls...are those js urls working?

[2015-02-17 08:02] bameda commented on #19
@7sedam7 ouch, sorry, that wasn't going here

[2015-02-17 08:05] 7sedam7 commented on #19
@superalex I have found only this one and it works `http://178.62.75.72/js/app.js?v=1423548479613`

@bameda ah ok :D

[2015-02-17 08:09] superalex commented on #19
I've tested accessing your instance in http://178.62.75.72 and it's trying to use the API on localhost:8000, it can't work that way. That will only work if you access http://localhost

[2015-02-17 08:11] 7sedam7 commented on #19
But you have said to set it up on localhost (127.0.0.1), what should I do so that it works

[2015-02-17 08:16] superalex commented on #19
Yes, localhost will work if you access to localhost, if you access to a remote IP but the API checks your localhost it's not possible :)

I suggested serving Taiga via nginx as documented here -> http://taigaio.github.io/taiga-doc/dist/setup-production.html#_final_steps

[2015-02-17 08:17] 7sedam7 commented on #19
But nginx is setted up like that, I have installed it with the script

[2015-02-17 08:21] superalex commented on #19
If you used taiga-scripts the installation it does only works for accessing via localhost, I would recommend you to follow the steps here http://taigaio.github.io/taiga-doc/dist/setup-production.html checking your config files.

[2015-03-02 11:42] Semyazz opened #23 "Clean installation doesn't work (missing templates)"
I tried ubuntu 14.04.1 image and I had some issues with locales (because of that Postgresql doesn't start) but after locale fix and when postgresql is up I still cannot make it work entirely. It looks like something is missing in DB initialization, cos I can log in to the Taiga, however there is no admin user, but I don't have any templates. When I try to create a project I see

    taiga.projects

[2015-03-02 13:24] superalex commented on #23
It seems that your intsallation failed in the "Populate the database with initial basic data"  point, could you try to execute:

[code]

If you need to generate random data for your instance you can also make a:
[code]

[2015-03-02 15:41] Semyazz commented on #23
I recreate the VM,  fixed lokale first and install postgresql manualny and after that I ran setup script and now everything works fine.

[2015-03-02 22:19] #23 closed

[2015-03-03 04:23] Ryahn opened #24 "username and password?"
I have it up and running but I do not have a username and password to login with. I used the setup-server.sh on ubuntu 14.04

Here is the install log https://pastebin.com/kp5QZ5Gt

[2015-03-03 05:57] superalex commented on #24
The default username and password taiga creates is admin with password 123123, isn't it working?

[2015-03-03 06:38] superalex commented on #23
Great! :+1:

[2015-03-03 12:36] Ryahn commented on #24
No, says its incorrect

[2015-03-03 12:46] superalex commented on #24
Checking your logs it seems that an installation failed could you execute
[code]

from taiga-back and check if it's still happening?

[2015-03-03 12:55] Ryahn commented on #24
Got an error and red text after running pip install -r requirements.txt

http://paste.ubuntu.com/10514817/

[2015-03-03 13:02] superalex commented on #24
Some people have that kind of problem with pip when they have systems with small RAM, if it's a virtual machine, could you increase it?

[2015-03-03 13:05] Ryahn commented on #24
I would have to reinstall everything on the box. I can only go up but not down. What are the system requirements to running taiga?

[2015-03-03 13:25] superalex commented on #24
According to this http://stackoverflow.com/questions/16149613/installing-lxml-with-pip-in-virtualenv-ubuntu-12-10-error-command-gcc-failed?lq=1 and this http://stackoverflow.com/questions/19894197/cant-installing-lxml-on-ubuntu-12-04 it depends on the free RAM you have. You can also create a swap file for the installing workaround so you won't have to reinstall everything.

[2015-03-03 13:50] Ryahn commented on #24
I will get back to you on this after I get the swap up

[2015-03-03 13:55] superalex commented on #24
Great! :+1:

[2015-03-03 16:59] Ryahn commented on #24
python manage.py migrate --noinput

Got this after the above command https://pastebin.com/6C74G6u5

[2015-03-04 06:27] superalex commented on #24
pip install -r requirements.txt install the celery package, this package installs kombu:

[code]

It seems your pip install didn't work correctly, could try to reinstall celery package?

[code]

[2015-03-04 12:46] Ryahn commented on #24
I was able to get it installed. The VPS I had it on, was just too small.

[2015-03-04 12:46] #24 closed

[2015-03-04 12:46] Ryahn commented on #24
The VPS was too small that I was using

[2015-03-04 12:50] bameda commented on #24
Great :dancers: :dancers:

Enjoy Taiga.

[2015-03-04 12:52] Ryahn commented on #24
VPS needs at least 1GB RAM and 1GB Swap or larger

[2015-03-06 22:07] Ryahn opened #25 "local.py not generated"
I am not sure if this is intentional or not. After the script is done running, it does not generate a local.py

[2015-03-09 07:26] superalex commented on #25
I've just executed taiga-scripts and local.py is correctly generated under ~/taiga-back/settings/local.py

The script scripts/setup-backend.sh is generating called from setup-devel.sh called from setup-server.sh.

[2015-03-09 07:26] #25 closed

[2015-03-15 07:29] FlorianBezagu commented on #3
:+1:
Would be great to have an docker image with every part of taiga :
  - taiga-back
  - taiga-front-dist
  - taiga-events

[2015-03-15 07:52] ianmiell commented on #3
Do you mean a single image or three?
On Mar 15, 2015 7:29 AM, "Florian Bezagu" <notifications@github.com> wrote:

[2015-03-15 07:55] FlorianBezagu commented on #3
Hi @ianmiell

Yes I mean a single image with the three parts inside it.

We already have an instance of taiga installed but we're moving our servers and I'd like to install taiga on my new Docker server.

[2015-03-15 08:10] ianmiell commented on #3
I haven't looked at taiga for a while, but I could help you script an image
with this:

https://registry.hub.docker.com/u/imiell/taigaio/

Built from:

https://github.com/ianmiell/shutit/blob/master/library/taigaio/taigaio.py

But I'm not sure how much of this you know already, or how much taiga has
moved on.

On Sun, Mar 15, 2015 at 7:56 AM, Florian Bezagu <notifications@github.com>
wrote:

[2015-04-17 08:44] askz commented on #23
Thanks for this.

[2015-05-22 01:51] NemoAlex opened #29 "How can I upgrade taiga-back and taiga-front to new stable version?"
Hello guys,

Thanks for the great work, It works perfectly.

Here is my question: After install, how can I do the upgrade?
Is it just "git pull" in each project folder?

[2015-05-22 04:12] superalex commented on #29
Hello @NemoAlex

We have the documentation about it here -> http://taigaio.github.io/taiga-doc/dist/setup-production.html#faq-add-extra-functionality

Regards!,

[2015-05-22 04:12] #29 closed

[2015-05-29 23:00] ayr-ton opened #31 "Make a Dockerfile"
Implement a Dockerfile and a compose with a container for backend and other one for frontend.

[2015-05-29 23:01] ayr-ton commented on #31
I could make a pull request if you guys like this feature.

[2015-05-29 23:03] ayr-ton opened #32 "Make an Ansible playbook"
For orchestrate the deploy, make an ansible playbook.

[2015-05-29 23:03] ayr-ton commented on #32
I could make a pull request if you guys like this feature.

[2015-06-01 05:53] superalex commented on #31
Hello @ayr-ton ,

Thank you very much but actually there are two existing different docker scripts supported by the community:
- https://github.com/ipedrazas
- https://github.com/htdvisser/taiga-docker

Regards!,

[2015-06-01 05:53] #31 closed

[2015-06-01 05:55] superalex commented on #32
Hello @ayr-ton ,

You could create a new github project for it and it could appear in our doc (section "other ways to setup initial environment") -> http://taigaio.github.io/taiga-doc/dist/setup-alternatives.html

Regards!,

[2015-06-01 05:55] #32 closed

[2015-06-01 09:31] superalex commented on #32
Hello @ayr-ton

I just remembered there is an ansible taiga project here -> https://github.com/JScott/ansible-taiga

Regards!

[2015-06-01 09:33] superalex commented on #31
Two more projects:
- https://github.com/nsdont/taiga-docker
- https://github.com/nesv/taiga-docker

[2015-06-05 00:25] renatoramiro opened #33 "How to uninstall taiga?"
I installed taiga by taiga-scripts, but I'm having some problems with backend.

http://<my ip>/api/v1/projects Failed to load resource: net::ERR_CONNECTION_REFUSED

And I want to completely uninstall taiga. How do I uninstall taiga?

[2015-06-06 19:47] ayr-ton commented on #31
Thank you!

[2015-06-06 19:47] ayr-ton commented on #32
Thank you!

[2015-06-08 06:05] superalex commented on #31
You are welcome ;)

[2015-06-08 06:05] superalex commented on #32
You are welcome ;)

[2015-06-08 06:22] superalex commented on #33
Hello @renatoramiro,

Actually there is not automated way for uninstalling Taiga, you should remove all the data folders created by taiga (taiga-back and taiga-front), you could also remove the taiga database and then uninstall all the packages you are not needing more...

About the error, what kind of  installation did you do?, server or devel?, did it fail at any point?.

Regards,

[2015-06-11 11:34] #33 closed

[2015-07-09 20:36] mehrad-rafigh opened #34 "HTTP 502 Bad Gateway when trying to login in via admin for the first time"
Hey guys,

I tried to install taiga on a vm, which fulfills the requirements of taiga. Everything is actually working, but when I try to log in for the first time as admin with 123123 as the password, I'll get the Bad Gateway Error. Did somebody experience the same thing and has an idea how to solve this? Any help is highly appreciated!

[2015-07-10 08:05] bameda commented on #34
Hi @mehrad-rafigh

Can you show me your config.json file? Your taiga-front client can connect with your taiga-back server instance.

[2015-07-10 09:35] mehrad-rafigh commented on #34
@bameda I already fixed it. It seemed that the error was inside the nginx taiga file. I manually added the admin part and now it works.

[2015-07-10 09:35] #34 closed

[2015-07-10 09:59] bameda commented on #34
Great! \o/

[2015-07-10 18:00] seagoj commented on #32
Although [ansible-taiga](https://github.com/JScott/ansible-taiga) does get the job done, it would be nice if there was an ansible playbook that utilized the latest version of this build script. That way the playbook isn't always lagging being the build requirements.

I'm trying to accomplish something like that, but I'm struggling with making the virtualenvs work from the ansible script. For examp

[2015-08-05 15:41] sairaj3 commented on #10
After Successful Taiga Installation admin 123123 is not working.
Error: Something happened and our Oompa Loompas are working on it.

[2015-08-05 15:47] bameda commented on #10
@sairaj3 please write to https://groups.google.com/forum/#!forum/taigaio for setup support and give us more info: what SO?? taiga-back is runing??, logs files, browser console errors,...

[2015-08-27 16:21] benhutchins commented on #3
@FlorianBezagu Check out https://github.com/benhutchins/docker-taiga which is Taiga's front and backend in one, and has support for taiga-events.

[2015-10-07 19:39] luminousmg commented on #24
Hello, I am still having trouble logging into Taiga on my Ubuntu 14.04 VPS with 2GB of ram.  I closely followed the instructions on http://taigaio.github.io/taiga-doc/dist/setup-production.html

The log-in screen loads, but when I enter the default user admin and password 123123, I get an error page.

I looked into the postgresql database and found that the tables have been populated and the user

[2015-10-07 19:41] bameda commented on #24
Can you see the browser console to show the request sent to the api?

[2015-10-07 19:59] luminousmg commented on #24
Ah ha...  Thanks for the tip!  The following error appeared in the console:

OPTIONS http://myserver:8000/api/v1/auth net::ERR_ADDRESS_UNREACHABLE

It looks like the backend server is not running or is not accessible.  I'm wondering if I should try to re-install.

I tried to manually start the  the server
workon taiga
python manage.py runserver

it clears all system checks.  Starts development ser

[2015-10-07 21:37] luminousmg commented on #24
Hello, I found the following thread that pointed me in the right direction:

https://github.com/taigaio/taiga-scripts/issues/10

I removed the taiga-back and taiga-front directories and downloaded taiga-scripts.

Ran setup-server.sh and everything went well from there.  I'm able to log-in and use the system.

Thanks again!  This software is amazing!  Great job!

[2015-10-07 21:42] bameda commented on #24
Great \o/ :dancers:

[2015-11-02 14:56] danielgsims opened #38 "role "vagrant" does not exist"
With a fresh vagrant install, I see the following error:

![screen shot 2015-11-02 at 9 56 02 am](https://cloud.githubusercontent.com/assets/695933/10884799/005b4a7c-8148-11e5-857e-fbb8182af486.png)

[2015-11-03 06:37] superalex commented on #38
Hello @danielgsims what installation instructions did you follow?

[2015-11-03 06:50] chaho commented on #38
no

chaho

From: Alejandro
Date: 2015-11-03 14:37
To: taigaio/taiga-scripts
Subject: Re: [taiga-scripts] role "vagrant" does not exist (#38)
Hello @danielgsims what installation instructions did you follow?
—
Reply to this email directly or view it on GitHub.

[2015-11-03 06:54] superalex commented on #38
@chaho sorry but I don't understand your answer...

[2015-11-03 11:45] danielgsims commented on #38
@superalex - I followed the vagrant installation instructions.

http://taigaio.github.io/taiga-doc/dist/setup-alternatives.html#setup-taiga-vagrant

I appreciate the help!

[2015-11-03 12:36] superalex commented on #38
Hello @danielgsims ,

I just did a fresh vagrant install and everything is working ok...Could you try checking if you had any problem during the installation or destroying the vagrant machine and creating it again?

[2015-11-03 13:11] luanntvn commented on #29
Hello superalex,
I'm planning to upgrade from 1.8 to 1.9 but I can't find out that section. I can reinstall entire the app but are there any db changes to be migrated manually?
Would you please help?

Thanks,
Luan Nguyen

[2015-11-03 13:22] superalex commented on #29
Hello @luanntvn we moved that page, it's actually located here -> http://taigaio.github.io/taiga-doc/dist/setup-faqs.html#faq-maintain-update

Regards!,

[2015-11-03 13:23] luanntvn commented on #29
Just found it. Thank you!

[2015-11-03 13:26] superalex commented on #29
You are welcome! ;)

[2015-11-03 14:01] danielgsims commented on #38
I did a fresh install and still getting the same issue. Here's the output during vagrant initialization.

http://git/gist/dsims1/82afe88e9f873fa38233

I see a couple of errors, the first one looks like it might be the problem. Do you have any insight into these?

http://git/gist/dsims1/82afe88e9f873fa38233#file-vagrant-response-L430-L448
http://git/gist/dsims1/82afe88e9f873fa38233#file-vagrant-res

[2015-11-03 14:03] superalex commented on #38
Sorry but I can't see the links correctly...

[2015-11-03 14:07] danielgsims commented on #38
I edited the links with some markdown, can you open them now?

[2015-11-03 14:24] superalex commented on #38
No...

[2015-11-03 14:58] danielgsims commented on #38
Sorry about that. Can you view the gist now?

[2015-11-03 16:36] bameda commented on #38
Yes i see it. I fix the error with TEMPLATE_* in taiga-scripts and test it. This is my console log

https://gist.github.com/bameda/90749c8a720e4c0c2624

Can you try it again?:

[code]

[2015-11-04 13:29] danielgsims commented on #38
I tried it again. I'm not seeing the same errors while installing, but I get the same 500 Operational Error.

Here's my output from vagrant up.

https://gist.github.com/danielgsims/ae57d799ce818d97652f

[2015-11-04 13:48] bameda commented on #38
Your error is with grub-pc package
[code]

In my setup this package is not installed, why?

Are you remove the vbox image and the vagrant base box image before the reinstall process?

Try to reinstall grub-pc or reconfigure ```dpkg-reconfigure -a```. and run the taiga script again.

[2015-11-04 22:55] danielgsims commented on #38
@bameda I must have had a problem with my trusty64 vagrant box. I had to delete my trusty64 entry within .vagrant.d. After re-downloading the box, it worked. I must have had a conflict with another box named trusty64 from an older installation.

Thank you all for the help.

[2015-11-04 22:55] #38 closed

[2015-11-04 23:45] bameda commented on #38
Great!! You are welcome

[2016-01-11 10:51] caghan commented on #24
I had the similar issue after I followed "Taiga: Setup production environment". I fixed "OPTIONS http://myserver:8000/api/v1/auth net::ERR_ADDRESS_UNREACHABLE" issue as follows:

* Check taiga-back/settings/local.py and changed below URLs:
    * http://myserver:8000/media/ -> http://myserver/media/
    * http://myserver:8000/static/  -> http://myserver/static/

* Check taiga-front-dist/dist/conf.j

[2016-01-11 13:35] superalex commented on #24
Hello @caghan, thank you very much for your comments!

I've checked https://taigaio.github.io/taiga-doc/dist/setup-production.html and can't find references to http://myserver:8000/media/  http://myserver:8000/static/ http://myserver:8000/api/v1/ or ws://myserver:8000/events

Pull request to taiga-doc repo are of course welcome if you find any errors on it :)

Regards!,

[2016-01-11 13:56] caghan commented on #24
Hi @superalex, sorry for the miss explanation at my previous post.

@ "3.4. Verification" section of the setup-production, the verification URL by nature is http://localhost:8000/api/v1/ (because of running server command: "python manage.py runserver"). Thus, I put  <myserverIP>:8000 for the configurations of both taiga-back and taiga-front-dist. But after applying the final step of the document(i

[2016-01-11 14:07] superalex commented on #24
Thanks @caghan but the "python manage.py runserver" in that part of the doc was just trying to check that django can boot correctly that's why we don't use :8000 on the rest of the doc.

Regards!,

[2016-01-20 23:06] jahwurbw opened #40 "Default username and password do not work; registration does not work."
I am using a fresh Ubuntu 14.04 image in AWS. I clone taiga-scripts using a "taiga" user account and execute setup-server.sh successfully. I can access the website, but when attempting to login using admin/123123, I receive the following error:
Oops, something happened...
According to our Oompa Loompas, your username/email or password are incorrect.

Registration also fails with the following erro

[2016-01-21 05:25] superalex commented on #40
Hello @jahwurbw

Did you check the output of setup-server.sh to check if something failed?, you could rebuild your database and initial data with something like:

[code]

Regards,

[2016-01-21 08:27] spaceheadx commented on #40
Hi @superalex

i can confirm this issue (I also tried both, script and manual install).

sadly
[code]
did not work. The output of the script and regenerate.sh looks good so far.

Best regards,

[2016-01-21 08:38] superalex commented on #40
You could check two different things:
 - Your javascript console to see if there is a problem calling the API
 - Your backend logs (from ~/logs folder)

[2016-01-21 10:46] spaceheadx commented on #40
Thanks @superalex the javascript console pointed me to the cause of the issue.

editing
[code]
in *taiga-front/dist/v-1451995127167/js/app-loader.js* did the trick for me.

[2016-01-21 10:49] superalex commented on #40
Great!, but it's not recommended you edit that file (updating your instance will remove that changes), customize your dist/conf.json file

[2016-01-21 10:49] #40 closed

[2016-01-21 23:29] jahwurbw commented on #40
I ran the script, but am receiving the following error in the Javascript console:
OPTIONS http://localhost:8000/api/v1/auth net::ERR_CONNECTION_REFUSED

What do I need to change?

[2016-01-22 00:02] jahwurbw opened #41 "OPTIONS http://localhost:8000/api/v1/auth net::ERR_CONNECTION_REFUSED"
My previous issue was closed prematurely here: https://github.com/taigaio/taiga-scripts/issues/40

I am using a fresh Ubuntu 14.04 image in AWS. I clone taiga-scripts using a "taiga" user account and execute setup-server.sh successfully. I can access the website, but when attempting to login using admin/123123, I receive the following error:
Oops, something happened...
According to our Oompa Loomp

[2016-01-22 06:29] superalex commented on #41
Hello @jahwurbw,

What url are you using to access your taiga instance?, it sounds like your taiga-front copy isn't configured properly to find the API url, probably you should check your dist/conf.json file.

Regards,

Are you sure you are using the same U

[2016-01-22 06:30] superalex commented on #40
@jahwurbw I've answered you again in the other issue.

Regards!,

[2016-01-22 15:23] jahwurbw commented on #41
Alex,

Thanks for the quick response and staying on top of all of this.

My conf.json file is configured with the following:
{
    "api": "http://[IP ADDRESS]:8000/api/v1/",
    "eventsUrl": null,
    "eventsMaxMissedHeartbeats": 5,
    "eventsHeartbeatIntervalTime": 60000,
    "debug": true,
    "debugInfo": false,
    "defaultLanguage": "en",
    "themes": ["taiga"],
    "defaultTheme": "taiga",

[2016-01-22 15:55] jahwurbw commented on #41
Ok, it looks like the issue was fixed. I had fixed conf.json the other day to reflect my IP address, restarted nginx and circus, and it seems like the new values still did not apply.

I restarted the system today, and the new settings applied.

Thanks Alex for your quick responses.

[2016-01-22 15:55] #41 closed

[2016-01-22 17:18] superalex commented on #41
Great!, you are welcome @jahwurbw :)

[2016-01-29 10:38] LaurentCabaret opened #42 "unable to connect with admin/123123 after a fresh install : CORS error involved"
After a fresh install with taiga-scripts (production or devel) on a virtualbox clean ubuntu 14.04 machine,
the login page is followed by an error page.
The firefox console gave me :
Blocking of a multi- query origins (Cross - Origin Request) : the " Same Origin " policy does not refer to the remote resource on http: // localhost: 8000 / api / v1 / auth . Reason: the header CORS "Access -Control- A

[2016-01-29 10:49] superalex commented on #42
Probably your instance isn't finding correctly your conf.json file, could you try the steps documented here (http://taigaio.github.io/taiga-doc/dist/upgrades.html) to upgrade from 1.9.0 to 1.9.1?

Regards!,

[2016-01-29 10:57] LaurentCabaret commented on #42
Tanks for your answer

The 1.8 installation was on an other machine 6 month before (I precire tat point to explain it is a new problem)

The problem is with an install done this morning on a new machine so its already an 1.9.1 version.

Regards too!

[2016-01-29 11:03] superalex commented on #42
Could you please show us your conf.json file and what url are you using to access Taiga?

[2016-01-29 11:04] LaurentCabaret commented on #42
I checked the conf.json clue : indeed  taiga-front/dist/conf.json was not existing but creating it (with the exemple) had not effect

[2016-01-29 11:07] LaurentCabaret commented on #42
Sure :
conf.json
{
    "api": "http://localhost:8000/api/v1/",
    "eventsUrl": null,
    "eventsMaxMissedHeartbeats": 5,
    "eventsHeartbeatIntervalTime": 60000,
    "debug": true,
    "debugInfo": false,
    "defaultLanguage": "en",
    "themes": ["taiga"],
    "defaultTheme": "taiga",
    "publicRegisterEnabled": true,
    "feedbackEnabled": true,
    "privacyPolicyUrl": null,
    "termsOfServ

[2016-01-29 11:07] superalex commented on #42
Probably you should update that conf.json file with a valid API url, what url are you using to access?

[2016-01-29 11:16] LaurentCabaret commented on #42
Many thanks!

Indeed changing the line
"api": "http://localhost:8000/api/v1/",
to
"api": "http://192.168.56.103:8000/api/v1/",

solved the problem.

To sum up:
- The taiga-script does not create taiga-front/dist/conf.json
- Once created (cp taiga-front/dist/conf.example.json taiga-front/dist/conf.json) if the server is accessed externaly (not localhost) the api line should reflect the real url acc

[2016-01-29 11:16] #42 closed

[2016-01-29 11:17] superalex commented on #42
You are welcome!,

We should make that part of the docs more clear :)

Regards,

[2016-02-10 04:17] jtfogarty commented on #24
Hi @superalex, I'm attempting to run the Docker container, benhutchins/taiga on [Mantl](www.mantl.io)  I have it running but am not able to login.  Interestingly, I am able to login to server:8000/api/v1/#
When I connect to the database, I see 57 tables in the Taiga database and see an admin entry in users_user.  Any ideas on is?  Thanks

[2016-02-10 05:39] superalex commented on #24
Hello @jtfogarty could you check the API url set in your http://taiga_access_url/conf.json file is accessible from your browser?

[2016-02-10 19:26] jtfogarty commented on #24
@superalex, that was the problem.  I had TAIGA_HOSTNAME set to taiga-front.service.consul which is how Mantl configures the network.  Thanks for the fast reply!!!

[2016-02-11 08:12] superalex commented on #24
You are welcome @jtfogarty ;)

[2016-03-02 16:56] abhijitroy07 opened #43 "Getting error while running script"
Reading package lists...
Building dependency tree...
Reading state information...
E: Unable to locate package postgresql-server-dev-9.3
E: Couldn't find any package by regex 'postgresql-server-dev-9.3'
touch: cannot touch ‘/home/bitnami/.setup/postgresql’: No such file or directory
touch: cannot touch ‘/home/bitnami/.setup/buildessential’: No such file or directory
~ ~/taiga-scripts

[2016-03-02 17:18] bameda commented on #43
You need http://packages.ubuntu.com/trusty/postgresql-server-dev-9.3

[2016-03-14 11:55] #43 closed

[2016-03-17 21:26] jpgrace commented on #32
It should be noted that the linked github repo ([https://github.com/JScott/ansible-taiga](https://github.com/JScott/ansible-taiga)) no longer builds, because there are dependencies that are 404.

[2016-03-24 10:01] ayr-ton commented on #32
@jpgrace Need to debug to see what is happening
@jscott Is it no longer being maintained?

[2016-04-18 19:35] cyberfarer commented on #24
Greetings, if anyone is following this how-to, http://taigaio.github.io/taiga-doc/dist/setup-production.html, be aware there appears to be an error in the nginx conf file. The conf file shows: proxy_pass http://127.0.0.1:8001/api;

But on my system, following the instructions, the port was on 8000.

[2016-04-19 06:04] superalex commented on #24
@cyberfarer if following those instructions nothing should be served in 8000, just the 3.4 verification step will use that port but if you stop the runserver command nothing will be listening on that port.

In the "Initial configuration for circus on ~/conf/circus.ini" section port 8001 is configured to serve taiga-back.

Regards!,

[2016-04-20 16:40] gregoirelemoulant opened #44 "Can't login into taiga"
It works in local
But when I'm connecting via IP, it seems that it doesn't connect to the data base, (it does nothing when I click to sign up) and I've got this error :  http://172.21.184.100:8000/api/v1/auth 502 (Bad Gateway)

![capture](https://cloud.githubusercontent.com/assets/17857554/14682856/e95d9260-0727-11e6-9b97-69ada76389f9.PNG)

**Here is my local.py file:**
[code]

thanks

[2016-04-21 07:15] superalex commented on #44
When you say it works in local, what url are you using to access?, could you show us your conf.json file from taiga-front?

Regards,

[2016-04-21 07:46] gregoirelemoulant commented on #44
**conf.json :**
[code]

[2016-04-21 12:31] gregoirelemoulant commented on #44
I tried this, but still not working :

[code]

[2016-04-21 12:59] gregoirelemoulant commented on #44
And when I want to restart circusctl :

[code]

[2016-04-22 05:36] superalex commented on #44
Hello again!,

When it was working in local, what url were you using to access Taiga?, what settings (conf.json, local.py, circus.ini) did you have?.

I see you are trying to restart circus with sudo, did you execute taiga-scripts under a root user?, taiga installation should be done under a normal user, not a privileged one.

Regards!,

[2016-04-22 08:00] gregoirelemoulant commented on #44
I think it was working in localhost via SSH but maybe it was only the discover page.
then I changed the conf.json and local.py like in the previous comments to be abble to access it via IP.

I have well executed the script in normal user

Here is my circus.ini that I haven't changed :

[code]

[2016-04-22 08:45] superalex commented on #44
Could you please show us too your nginx config file for Taiga?. I think the problem is the api URL in your conf.json file

[2016-04-22 08:55] gregoirelemoulant commented on #44
** nginx config**
[code]

[2016-04-22 09:15] superalex commented on #44
It seems to be ok too...if you execute "circusctl", what's the result?

[2016-04-22 09:17] gregoirelemoulant commented on #44
I've got that : circusctl 0.13.0

[2016-04-22 09:18] superalex commented on #44
Checking the circus.ini file you pasted it doesn't look like the one generated by taiga-scripts (https://github.com/taigaio/taiga-scripts/blob/master/scripts/setup-circus.sh), did you paste here the complete file?

[2016-04-22 09:29] superalex commented on #44
If that's the only output you are receiving from circusctl something is wrong, could you check again your circus.ini file (if you didn't edit it it should be the same generated by the script) and execute:

[code]

[2016-04-22 09:37] gregoirelemoulant commented on #44
ok I delete it and re run the script :
so my circusctl is like that :
[code]
but whene i run circusctl reloadconfig

I have this :
[code]

[2016-04-22 09:43] bameda commented on #44
Try with
[code]

[2016-04-22 09:47] gregoirelemoulant commented on #44
hmm circusctl: error: unrecognized arguments: --timeout

[2016-04-22 09:49] superalex commented on #44
It's so strage...

What about:

[code]

[2016-04-22 09:52] gregoirelemoulant commented on #44
Failed to start circus.service: Unit circus.service failed to load: No such file or directory.

[2016-04-22 10:08] superalex commented on #44
So strange...what linux distribution did you use?, could you please execute "uname -a"?

[2016-04-22 10:11] gregoirelemoulant commented on #44
3.19.0-15-generic #15-Ubuntu SMP Thu Apr 16 23:32:37 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

it's the server of my company.. so I can't have ubuntu 14.04

[2016-04-22 10:17] superalex commented on #44
Ok, so that's the problem, all the doc we generated assumes ubuntu 14.04.

The problem seems related to the installation of circus in your base system, I'm sorry but I'm afraid we can't help you much more.

Regards,

[2016-04-22 10:17] #44 closed

[2016-04-22 10:19] gregoirelemoulant commented on #44
Ok thank you very much

[2016-05-06 14:43] davidka opened #45 "Wrong destination path for conf.json"
The config file for the taiga frontend (conf.json) created in setup-frontend.sh is moved to dist/js/.
Unfortunately this is an unvalid path.

The correct path should be dist/

[2016-05-06 14:50] #45 closed

[2016-05-06 14:51] bameda commented on #45
Thanks @davidka, fixed

[2016-07-11 18:51] myktux commented on #24
I had the same admin login problem because Ubuntu 16.04 LTS uses _systemd_ instead of _upstartd_ and the instructions for setting up CIRCUS at the end of "6. FINAL STEPS" [http://taigaio.github.io/taiga-doc/dist/setup-production.html#circus-and-gunicorn](url) fails on this version of Ubuntu.

To properly configure Circus with _systemd_ I followed ssplatt instructions here [https://gist.github.com/

[2016-07-11 18:52] myktux commented on #24
To make circus start with your system boot, issue this on your command line:
`sudo systemctl enable circus`

[2016-07-11 18:56] bameda commented on #24
This branch of taiga-scripts works in ubuntu 16.04

https://github.com/taigaio/taiga-scripts/tree/ubuntu-16.04

it will be released with the next version of Taiga but you can use it now.

[2016-09-20 10:57] Fatima-Batool commented on #44
hi all i am facing the same problem above in ubuntu 14.04 pls tell me solution
fatima-batool@ubuntu:~$ circusctl --timeout 20
circusctl 0.13.0
Timed out.
A time out usually happens in one of those cases:

#1 The Circus daemon could not be reached.
#2 The Circus daemon took too long to perform the operation

For #1, make sure you are hitting the right place
by checking your --endpoint option.

For

[2016-09-21 17:38] Mehar-un-nisa commented on #44
when i execute the following command
 systemctl restart taiga
error occurs....
==== AUTHENTICATING FOR org.freedesktop.systemd1.manage-units ===
Authentication is required to restart 'taiga.service'.
Authenticating as: MEHAR-UN-NISA,,, (mehar-un-nisa)
Password:
==== AUTHENTICATION COMPLETE ===
Failed to restart taiga.service: Unit taiga.service not found.

[2016-10-05 13:58] sthan001 commented on #10
Guys not sure if this is solved already.
I ran under this problem and spent 1 day time [1 time investment though].

First is it looks like DNS problem to access taiga hostname from network lan[external to taiga server host/host outside taiga].
Example.
If DNS you picked is registed in network DNS entries then no problem - clients know where to connect for dns hostname [you used on conf files].
If

[2016-10-14 17:41] tuffacton opened #49 "User Creation Problem"
After installing using the scripts the landing page loads fine from the VM IP but I can't register new users and therefore can't login to test the rest of the app. Am I missing anything?

[2016-10-17 06:12] superalex commented on #49
Hello @tuffacton,

Could you please check your browser console to see if there are any errors?

Regards,

[2016-10-17 13:31] tuffacton commented on #49
Hey, there is a consistent 502 which would indicate network problems. I think I figured it out so I'm going to close this one.

[2016-10-17 13:31] #49 closed

[2016-10-18 05:36] superalex commented on #49
Ok!

[2016-11-03 18:36] extraymond opened #50 "Adding ubuntu snap as format to install"
Hi! I'm not sure if this is the best place to ask.
Is that possible to add snap as a format to deploy taiga.

I would like to use taiga on my rasbpi with snappy ubuntu core.
Thx.

[2016-12-07 15:09] jnmcfly opened #51 "Taiga-scripts in Ubuntu:16.04 Docker Container"
Hey,

I'm trying to setup Taiga using Taiga-Scripts in a Docker Container using a Dockerfile.

Dockerfile:

[code]
everything seems to be fine

but when the script try to invoke

`python manage.py migrate --noinput`

nothing happend.

I know, that docker-script is in alpha state, but having a fresh setup in my Docker Environment would be nice.

I dont know much abou python and virtualenv, but I th

[2016-12-26 08:17] bagas9425 opened #52 "User Pass for PostgreSQL DB"
Hi, all.
What are Default user and pass for PostgreSQL DB using Taiga Sctipts?
I've tried user postgres pass postgres but got failed.

I want to integrate Taiga with Metabase.

[2016-12-27 07:11] superalex commented on #52
By default there is no user/password for postgresql because of the Trust authentication method (https://www.postgresql.org/docs/9.1/static/auth-methods.html), if you are the user taiga in the system then you can connect to the Taiga database. You could update your postgresql settings to make the database work with another authentication method.

Regards,

[2016-12-27 07:11] #52 closed

[2017-02-21 05:04] douglasmiranda opened #54 "Create /awesome-taiga"
So, I think it would be nice to create a repository: /awesome-taiga so we can list components, deploy configurations, and everything related to taiga.

[2017-02-21 05:04] douglasmiranda opened #55 "Taiga Docker"
So, I have my configuration of Taiga running on Docker containers, and I want to share.

https://github.com/douglasmiranda/docker-taiga

I know this is not the best place, but you can close the issue, and it will be here so people can search and find.

Related: #54

[2017-02-21 06:26] bameda commented on #55
Hi @douglasmiranda we have a cimminoty section in our suppor pages here

https://tree.taiga.io/support/misc/community-contributions/

Maybe you can sent us a PR

https://github.com/taigaio/taiga-support/blob/master/content/misc/community-contributions/contents.lr

[2017-02-21 06:26] #55 closed

[2017-02-21 06:27] bameda commented on #54
It could be a good idea. Currently we have a list of contributions in our support pages.

https://tree.taiga.io/support/misc/community-contributions/

[2017-02-21 07:27] Xaviju commented on #54
I like the idea! It might be easier to maintain if users are more comfortable making PRs to a README file in a repo instead of asking us to be added to Taiga support. We could link this repo from the Taiga support and get help from the community to test and deprecate projects if are unmantained or promote them if are interesting (for instance Taiga_app).

[2017-10-06 09:41] ston3o commented on #52
I have this use case too, here what I do:

[code]

[2017-10-07 09:10] #51 closed

[2017-12-06 11:54] sivasai519 commented on #19
Hello @superalex

After installation i am going with http://192.168.1.248:8000/api/v1/
 can't connect to that server
could you please help me out.
Thank you

[2017-12-11 11:59] sivasai519 commented on #34
Hello @bameda

While i was going with this url http://localhost/api/v1 i am getting error in webpage
502 bad gateway
can you please help me

[2017-12-12 11:50] sivasai519 commented on #19
Hello @superalex

Can you please let me know, What is the solution for that.

[2017-12-26 06:59] patilkomal commented on #41
Getting this below error please help me to resolve it out:

polyfills.js:3 POST http://localhost/PHP-Slim-Restful/api/signupLogin net::ERR_CONNECTION_REFUSED
s @ polyfills.js:3
t.scheduleTask @ polyfills.js:3
onScheduleTask @ polyfills.js:3
t.scheduleTask @ polyfills.js:3
r.scheduleTask @ polyfills.js:3
r.scheduleMacroTask @ polyfills.js:3
(anonymous) @ polyfills.js:3
o.(anonymous function) @ poly

[2018-04-06 08:18] lifenautjoe commented on #32
any plans for this?

[2018-06-27 15:20] migueljtc opened #57 "Cairo package and touch .setup"
In the setup-buildessentials.sh the cairo package has been replaced by libcairo2-dev.
Also the touch "~/.setup/postgresql" and the "~/.setup/buildessentials" throws an error.  A "mkdir ~/.setup" command should be called first.

[2018-07-18 21:29] BuhtigithuB opened #58 "Port to 18.04"
How will you manage the port to 18.04 with another repo or this one with option to choose within 1604 and 1804??

[2018-07-18 21:30] BuhtigithuB opened #59 "apt-get -> apt"
It a no brainer

[2018-09-18 19:43] alexgmoca opened #61 "connection timed out"
I have followed the instructions and everything works fine, until after some time using taiga it becomes incredibly slow and this is the only log that says something about it.
Nginx:
`2018/09/18 19:33:49 [error] 1338#1338: *354 upstream timed out (110: Connection timed out) while reading response header from upstream, client: x.x.x.x, server: _, request: "GET /api/v1/resolver?milestone=sprint-1-1&

[2019-01-01 18:59] robwent commented on #50
Is this being considered?

[2019-06-02 06:42] blackandred commented on #59
APT says it has unstable CLI api, probably it may be a blocker?

[2019-08-12 13:08] Akachi229 commented on #41
I have a problem connecting to my dialoguflow API in my ionic application.
OPTIONS http://localhost:5000/message net::ERR_CONNECTION_REFUSED

[2019-08-22 07:13] suren2306 opened #65 "How can I upgrade taiga-back and taiga-front to new stable version?"
Hello guys,

I have two things to say/ask.

1. Currently I am running Taiga 3.1. The default upgrade steps says to checkout the latest stable release. Which means can i directly upgrade Taiga to 4.2 from 3.1 ? Need some clarity on this.

2. I installed Taiga 4.2 in a new machine. Exported the DB from my old Taiga 3.1 server and restored it in the newly installed 4.2 machine. I logged into postgreS

[2019-08-22 07:34] bameda commented on #65
Hi @suren2306,

you can read about the upgrade process here, at https://taigaio.github.io/taiga-doc/dist/upgrades.html

This error is because you have not applied the migrations.

Best regards

[2019-08-22 07:34] #65 closed

[2019-11-14 14:50] Luzmario1708 commented on #41
Akachi229
Hi, could you solve it? I have the same problem.

[2019-11-14 15:04] Luzmario1708 opened #66 "OPTIONS http://localhost:3800/ net::ERR_CONNECTION_REFUSED"
I am developing a project where my backend is done in node.js and my interface in ionic.

I am managing a mongoDB database, when I run the project from the web and log in, it takes the data correctly, but when I try to run the project from a mobile device I have the following problem.

    OPTIONS http: // localhost: 3800 / net :: ERR_CONNECTION_REFUSED

    ERROR
    HttpErrorResponse {headers: H

[2019-11-20 18:11] migonzalvar commented on #66
Sorry @Luzmario1708 but it seems to me that your issue is totally unrelated with this project.

[2019-11-20 18:11] #66 closed

[2020-01-23 17:01] gmarton commented on #58
Created a PR to support both 18.04 and 16.04 along with other features: https://github.com/taigaio/taiga-scripts/pull/67 from branch: https://github.com/dev633a/taiga-scripts/tree/ubuntu-18.04